<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Beer</title>
<link href="https://fonts.googleapis.com/css?family=Krona+One"
	rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">

		<header>
			<h1 class="text-center">Add beer</h1>
		</header>
		<form method="post" role="form" th:action="@{/added}">

			<p class="form-group">
			<label>Name:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.name}"required>
			</p>
			<p class="form-group">
			<label>tag line:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.tagline}" required>
			</p>
			<p class="form-group">
			<label>first brewed:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.first_brewed}" required>
			</p>
			<p class="form-group">
			<label>description:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.description}" required>
			</p>
			<p class="form-group">
			<label>img url:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.image_url}" required>
			</p>
			<p class="form-group">
			<label>ibu:</label>
				<input class="frame form-control input-lg"
					th:field="${beer.ibu}" type="number" step="0.01" required>
			</p>
<!-- 			<p class="form-group">
			<label>foodPairing:</label>
				<input class="frame form-control input-lg" type="text"
					th:field="${beer.food_pairing}" required>
			</p> -->

			<p>
				<input id="submit" type="submit"
					class="btn btn-basic btn-lg btn-block" value="Add beer">
			</p>
		</form>
		
			<div th:if="${param.added}" 
						style="text-align: center;">
						<script>
							alert("Beer was added!");
						</script>
					</div>
	</div>



</body>
</html>